*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    text-align: center;
    color: gray;
    margin: 0;
    padding: 0;
}

header{
    background-color: #000000;
    color: white;
    padding: 10px;
    text-align: left;
    position: relative;
    z-index: 1000;
}

.topbar{
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav{
    background-color: #000000;
    overflow: hidden;
    color: white;
}

nav a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover{
    color: red;
}
nav li{
    float: left;
    list-style-type: none;
}

h1{
    color: #000000;
    text-align: center;
    font-family: Helvetica;
}

.slider{
    position: relative;
    width: 1497px;
    height: 500px;
    text-align: left;
    z-index: 1;
}

.slider img{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: slide 10s infinite;
}

.slider img:nth-child(1){
    animation-delay: 0s;
}

.slider img:nth-child(2){
    animation-delay: 5s;
}

@keyframes slide{
    0%{opacity:0;}
    10%{opacity:1;}
    30%{opacity:1;}
    40%{opacity:0;}
    100%{opacity:0;}
}

table{
    border-collapse: collapse;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
}

.tableText{
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    font-family: Helvetica;
}

.tableContent{
    font-size: 16px;
    color: gray;
    font-family: Helvetica;
}

.tombolJoin{
    background-color: #0881c8;
    color: white;
    padding: 10px 10px;
    border-radius: 10px;
    cursor: pointer;
    font-family: Helvetica;
}

.tombolJoinKecil{
    background-color: #0881c8;
    color: white;
    padding: 5px 5px;
    border-radius: 10px;
    cursor: pointer;
    font-family: Helvetica;
}

.programBelajar{
    background-color: #232323;
    padding: 5px;
    margin: 20px;
    border-radius: 10px;
    position: relative;
}

.headerProgram{
    position:absolute;
    top:50px;
    left:370px;
    right:auto;
}

.tabelProgram{
    position:absolute;
    top:300px;
    left:10px;
    right:auto;
}

.quote{
    font-size: 18px;
    color: rgb(0, 0, 0);
    font-family: Helvetica;
    top: 200px;
    left: 50px;
    right: auto;
    font-weight:bold;
}

.footer{
    background-color: #000000;
    color: rgb(95, 95, 95);
    padding: 5px;
    text-align: left;
}

.tabelProduk{
    border-collapse: collapse;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color:#0881c8;
}

.tabelPaket{
    border-collapse: collapse;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color:#000000;
}

.loginTable{
    text-align: center;
    background-color: #3c3e3f;
    color: white;
    padding: 20px 20px;
    border-radius: 3px;
    cursor: pointer;
    font-family: Helvetica;
}

.loginform{
    text-align: center;
        padding: 50px 20px;
        border-radius: 3px;
        cursor: pointer;
    font-family: Helvetica;
}